<div class="row">
    <div *ngFor="let gif of resultados" 
        class="col-md-4 col-sm-12 animate__animated animate__fadeIn animate__fast">
        <div class="card">
            <img 
                [src]="gif.images.downsized_medium.url" 
                alt=""
                class="card-img-top">
                <!-- src entre corchetes para que angular le asigne el valor de la variable -->
            <div class="card-body">
                
            </div>
        </div>
    </div>
</div>